<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Open-Source Full-Stack Javascript Solution for Distributed Cloud File Storage
      </p>
    </div>
  </div>
  <div>
    <h2>CSEE 6770: Next Generation Networks</h2>
    <p>This application allows users to create cloud profiles and securely store and retrieve files in Amazon S3 Cloud Storage</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Store your first file of any type.
      </li>
      <li>
        View your stored files.
      </li>
      <li>
        Download or delete files stored on the Cloud
      </li>
      <li>
        Have fun!
      </li>
    </ul>
  </div>
</section>
