<section ng-controller="FilesController" ng-init="find()">
  <div class="page-header">
    <h1>Files</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="file in files" ui-sref="files.view({fileId: file._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="file.created | date:'mediumDate'"></span>
        by
        <span ng-bind="file.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="file.title"></h4>
      <p class="list-group-item-text" ng-bind="file.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="files.$resolved && !files.length">
    No files stored yet, why don't you <a ui-sref="files.create">upload one</a>?
  </div>
</section>
