<section ng-controller="FilesController" ng-init="find()">
  <div class="page-header">
    <h1>Files</h1>
  </div>
  <div class="list-group">
    <h4>Number of files: {{ files.length }}</h4>
    <table class="table" ng-show="files.length">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th ng-show="uploader.isHTML5">Size</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in files">
          <td><a ui-sref="files.view({fileId: file._id})"><strong>{{ file.originalname }}</strong></a></td>
          <td ng-show="uploader.isHTML5" nowrap>{{ file.size/1024/1024|number:2 }} MB</td>
          <td nowrap>
            <button type="button" class="btn btn-danger btn-xs" ng-click="remove(file)">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-warning text-center" ng-if="files.$resolved && !files.length">
      No files stored yet, why don't you <a ui-sref="files.create">upload one</a>?
    </div>
    <button type="button" class="btn btn-success btn-l" ui-sref="files.create">
              <span class="glyphicon glyphicon-upload"></span> Upload More Files
            </button>
  </div>
</section>
